<p>proyectos-component works!</p>

<form class="from-group row">
  <div class="from-group col-md-3">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" placeholder="nombre" class="form-control" [(ngModel)]="cuadroNombre">
  </div>

  <div class="from-group col-md-3">
    <label for="nombre">Apellido</label>
    <input type="text" name="apellido" id="apellido" placeholder="apellido" class="form-control"
      [(ngModel)]="cuadroApellido">
  </div>

  <div class="from-group col-md-3">
    <label for="nombre">Cargo</label>
    <input type="text" name="cargo" id="cargo" placeholder="cargo" class="form-control" [(ngModel)]="cuadroCargo">
  </div>

  <div class="from-group col-md-3">
    <label for="nombre">Salario:</label>
    <input type="number" name="salario" id="salario" placeholder="salario" class="form-control"
      [(ngModel)]="cuadroSalario">
  </div>
</form>

<div style="text-align: center">
  <br>
  <button type=" submit" class="btn btn-primary" (click)="agregarEmpleado()">Añadir</button>
</div>
<br>
<div style="text-align: center;">
  <button class="btn btn-primary" (click)="volverHome()">Volver</button>
</div>
